@charset "utf-8";
/* CSS Document */

body {
    padding-bottom: 40px;
    background-color: #f7f7f7;
}
.container
{
    margin-top:0px;
}
h2
{
    font-family:Tahoma, Geneva, sans-serif;
    color:#00a2d1;
    font-size: 15px;
}
.form-container
{
    margin:0 auto;
    background:#fff;
}
button
{
    font-family:Verdana, Geneva, sans-serif;
    font-size:25px;
}
label
{
    font-family:Tahoma, Geneva, sans-serif;
}
a
{
    text-decoration:underline;
}

/* home page style */

.header
{
    text-align:center;
    font-size:15px;
    color:#fff;
    background:#00a2d1;
    height:170px;
    width:100%;
    margin-bottom: 10px;
}

.header h1{
    font-size:20px;
    margin-top: 0px;
}

.header a
{
    color:#f9f9f9;
    font-family:Verdana, Geneva, sans-serif;
    text-decoration:none;
    position:relative;
    margin-right: 30px;
}
.header .left
{
    float:left;
    position:relative;
    left:150px;
}
.header .right
{
    float:right;
    position:relative;
    right:50px;
}
.content
{
    margin:0 auto;
    margin-top:100px;
    text-align:center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:55px;
    color:#00a2d1;
}
.content p
{
    font-size:30px;
    color:#004567;
    width:800px;
    margin:0 auto;
}
.form-control{
    width:30%;
    display:inline;
}
input.btn-block[type="button"], input.btn-block[type="reset"], input.btn-block[type="submit"] {
    width: 30%;
}

li
{
    list-style:none;
    line-height: 15px;
}
